
@model AppMVCMongodb.Models.Nota
@{ ViewBag.Title = "Agregar nota";}
<h2>@ViewBag.Title</h2>
<form asp-controller="Notas" asp-action="Agregar" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <input id="Persona" name="Persona" type="hidden" value="@ViewBag.Persona">
        <div class="form-group">
            <label asp-for="Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contenido" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contenido" class="form-control" />
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Acceso" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Acceso" class="form-control" />
                <span asp-validation-for="Acceso" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
